$primary: rgb(77, 95, 77) ;
$secondary: rgb(240, 190, 163);
$dark:rgb(82, 76, 73);
$black: rgb(104, 92, 92);
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Josefin sans", sans-serif !default;

@import '../node_modules/bootstrap/scss/bootstrap';
