$primary: rgb(77, 95, 77) ;
$secondary: rgb(239, 189, 189)    ;
$dark:rgb(58, 54, 54);
$black:  #292222;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Josefin sans", sans-serif !default;

@import '../node_modules/bootstrap/scss/bootstrap';
